{%- assign product = all_products[section.settings.product] -%}
{%- assign zoom_size = 'master' -%}

{%- if settings.swatch_enabled and settings.swatch_images -%}
  <style>
   {%- for product_option in product.options_with_values -%}
      {%- if product_option.name == settings.swatch_option_name -%}
        {%- for value in product_option.values -%}
          {%- assign swatch_value = value | handle -%}
          .option--{{ settings.swatch_option_name | handle }} select[data-listed][data-colour-swatch="true"] + .clickyboxes .opt--{{ swatch_value }}::before,
          .swatch-option__nugget.bg-{{ swatch_value }} {
            background-image: url({{ swatch_value | append: '.png' | file_img_url: '48x48', crop: 'center' }});
          }
        {%- endfor -%}
      {%- endif -%}
    {%- endfor -%}
  </style>
{%- endif -%}

{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign min_aspect_ratio = 0.6 -%}

<div class="container section-{{ section.id }} featured-product product-detail {% if current_variant.compare_at_price > current_variant.price %}variant-status--on-sale{% endif %} strongly-spaced-row layout-content-with-image-left layout-content-with-image--large-image valign-middle" data-section-type="featured-product">
  {% if product != blank %}
    {%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}
    {%- for media in product.media -%}
      {%- if media.id == featured_media.id -%}
        {%- assign initial_slide = forloop.index0 -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
    {% render 'structured-data-product', product: product, current_variant: current_variant %}
    <div class="gallery gallery-layout-{{ section.settings.prod_gall_thumbs_under }} product-column-left {% if product.media.size > 1 %}has-thumbnails{% endif %}">
      <div class="main-image">
        <div class="slideshow product-slideshow slideshow--custom-initial" data-slick='{"adaptiveHeight":true,"initialSlide":{{initial_slide}}}'>
          {%- for media in product.media -%}
            <div class="slide{% if forloop.index0 == initial_slide %} slide--custom-initial{% endif %}" data-media-id="{{ media.id }}">
              {%- if media.media_type == 'image' and section.settings.enable_zoom -%}<a class="show-gallery" href="{{ media.preview_image | img_url: zoom_size }}">{%- endif -%}
                {%- render 'media', media: media, min_aspect_ratio: min_aspect_ratio -%}
              {%- if media.media_type == 'image' and section.settings.enable_zoom -%}</a>{%- endif -%}
            </div>
          {%- endfor -%}
        </div>

        {%- assign models = product.media | where: 'media_type', 'model' -%}
        {% if models.size > 0 %}
          <script type="application/json" class="model-json">
            {{- product.media | where: 'media_type', 'model' | json -}}
          </script>
          <button
            class="view-in-space"
            data-shopify-xr
            data-shopify-model3d-id="{{ models.first.id }}"
            data-shopify-title="{{ product.title | escape }}"
            data-shopify-xr-hidden>
            {%- render 'icon-3d-badge-full-color' -%}
            <span class="view-in-space__text">{{ 'products.product.view_in_space' | t }}</span>
          </button>
        {% endif %}

        <div class="slideshow-controls">
          <div class="slideshow-controls__arrows"></div>
          <div class="slideshow-controls__dots"></div>
        </div>
      </div>

      {% if product.media.size > 1 %}
        <div class="thumbnails desktop-only">
          {% for media in product.media %}
            <a class="thumbnail thumbnail--media-{{ media.media_type }}" href="{% if section.settings.enable_zoom %}{{ media.preview_image | img_url: zoom_size }}{% else %}#{% endif %}" data-media-id="{{ media.id }}">
              {% render 'responsive-image', image: media.preview_image, min_aspect_ratio: min_aspect_ratio %}

              {%- if media.media_type == 'video' or media.media_type =='external_video' -%}
                <div class="thumbnail__badge">
                  {% render 'icon-video-badge-full-color' %}
                </div>
              {%- endif -%}
              {%- if media.media_type == 'model' -%}
                <div class="thumbnail__badge">
                  {% render 'icon-3d-badge-full-color' %}
                </div>
              {%- endif -%}
            </a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% else %}
    <div class="gallery gallery-layout-{{ section.settings.prod_gall_thumbs_under }} product-column-left">
      <div class="main-image">
        <div class="placeholder-image">{{ 'product-1' | placeholder_svg_tag }}</div>
      </div>
    </div>
  {% endif %}

  <div class="detail product-column-right">

    {% if product != blank %}
      <div class="content-divider">
        <div class="title-row">
          <h1 class="title in-content">{{ product.title | link_to: product.url }}</h1>

          {% render 'product-label-detail', product: product, current_variant: current_variant %}
        </div>

        <div class="price-container">
          <div>
            <div class="price-area">
              <div class="price h4-style {% if current_variant.compare_at_price > current_variant.price %}on-sale{% endif %}">
                <span class="current-price theme-money">{{ current_variant.price | money }}</span>
                {% if current_variant.compare_at_price > current_variant.price %}
                <span class="was-price theme-money">{{ current_variant.compare_at_price | money }}</span>
                {% endif %}
              </div>

              {% render 'unit-price', variant: current_variant %}
            </div>

            {%- if section.settings.show_tax_and_shipping -%}
              {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                <div class="product-policies">
                  {%- if shop.taxes_included -%}
                    {{ 'products.product.include_taxes' | t }}
                  {%- endif -%}
                  {%- if shop.shipping_policy.body != blank -%}
                    {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- endif -%}
                </div>
              {%- endif -%}
            {%- endif -%}
          </div>
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        </div>

        {% if section.settings.show_vendor or section.settings.show_sku %}
          <div class="lightly-spaced-row">
            {%- if section.settings.show_vendor -%}
              {%- comment -%}
              Do we have a collection that has the same name as our product vendor name?
              If we do, let's have the vendor link point to it.
              If not, we will point to the automatic vendor collection.
              {%- endcomment -%}
              {%- assign product_vendor_handle = product.vendor | handle -%}
              {%- if collections[product_vendor_handle].handle == product_vendor_handle -%}
                {%- assign vendor_url = collections[product_vendor_handle].url -%}
              {%- else -%}
                {%- assign vendor_url = product.vendor | url_for_vendor -%}
              {%- endif -%}
              <div class="vendor"><span class="product-detail-label">{{ 'products.product.vendor' | t }}</span> {{ product.vendor | link_to: vendor_url }}</div>
            {%- endif -%}

            {%- if section.settings.show_sku -%}
              <div class="sku {% if product.selected_or_first_available_variant.sku == blank %}sku--no-sku{% endif %}"><span class="product-detail-label">{{ 'products.product.sku' | t }}</span> <span class="sku__value">{{ current_variant.sku }}</span></div>
            {%- endif -%}
          </div>
        {% endif %}

        <div class="user-content">{{ section.settings.description }}</div>
      </div>

      <div class="product-form section">
        {% form 'product', product, class: 'form', data-ajax-add-to-cart: true, data-product-id: product.id %}
          <div class="input-row">
            {% if product.variants.size > 1 %}

              <div class="option-selectors">
                {% for option in product.options_with_values %}
                  <div class="selector-wrapper styled-select {% if settings.swatch_enabled and option.name == settings.swatch_option_name %} swatches option--{{ settings.swatch_option_name | handle }}{% endif %}" {% if settings.variant_style == 'listed' %}data-make-box{% endif %}>
                    <label for="{{ section.id }}-SingleOptionSelector-{{ forloop.index0 }}">
                      {{ option.name }}
                    </label>
                    <select
                      id="{{ section.id }}-SingleOptionSelector-{{ forloop.index0 }}"
                      data-single-option-selector
                      data-index="option{{ option.position }}"
                      {% if settings.variant_style == 'listed' %}data-listed{% endif %}
                      {% if settings.swatch_enabled and option.name == settings.swatch_option_name %}data-colour-swatch="true"{% endif %}>
                      {% for value in option.values %}
                        <option
                          value="{{ value | escape }}"
                          {% if option.selected_value == value %}selected="selected"{% endif %}>{{ value }}</option>
                      {% endfor %}
                    </select>
                    {% if settings.show_size_chart and option.name == settings.size_chart_variant %}
                      <div class="size-chart-container">
                        <a href="{{ pages[settings.size_chart_page].url }}" target="_blank" class="size-chart-link">
                          {{ 'products.product.size_chart' | t }}
                        </a>
                        <div class="size-chart-content hidden">
                          <div class="size-chart">
                            <div class="size-chart__inner user-content">
                              {{ pages[settings.size_chart_page].content }}
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  </div>
                {% endfor %}
              </div>

            {% else %}

              {% unless product.has_only_default_variant %}
                <div class="singleopt">
                  {% for option in product.options %}
                    {% assign opt_idx = 'option' | append: forloop.index %}
                    <label>{{ option }}: {{ product.variants.first[opt_idx] }}</label>

                    {% if settings.show_size_chart and option == settings.size_chart_variant %}
                      <div class="size-chart-container">
                        <a href="{{ pages[settings.size_chart_page].url }}" target="_blank" class="size-chart-link">
                          {{ 'products.product.size_chart' | t }}
                        </a>
                        <div class="size-chart-content hidden">
                          <div class="size-chart">
                            <div class="size-chart__inner user-content">
                              {{ pages[settings.size_chart_page].content }}
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              {% endunless %}

            {% endif %}

            <select name="id" class="original-selector{% if product.variants.size == 1 %} hidden{% endif %}" aria-label="{{ 'products.product.selector_label' | t | escape }}">
              {% for variant in product.variants %}
                <option value="{{ variant.id }}"
                  {% if variant == current_variant %} selected="selected"{% endif %}
                  {% if section.settings.show_inventory_notice and variant.inventory_management == 'shopify' and variant.inventory_quantity > 0 %}
                    {% if section.settings.inventory_notice_threshold == 0 or variant.inventory_quantity <= section.settings.inventory_notice_threshold %}
                      data-inventory="{{ variant.inventory_quantity }}"
                    {% endif %}
                  {% endif %}
                  data-stock="{% if variant.inventory_management == 'shopify' and variant.inventory_quantity <= 0 %}out{% endif %}">
                  {{- variant.title | escape -}}
                </option>
              {% endfor %}
            </select>
          </div>

          {% if product.available %}
            {% if section.settings.show_inventory_notice %}
              {%- capture inventory_notice -%}
                {%- if current_variant.inventory_management == 'shopify' and current_variant.inventory_quantity > 0 -%}
                  {%- if section.settings.inventory_notice_threshold == 0 or current_variant.inventory_quantity <= section.settings.inventory_notice_threshold -%}
                    <div class="product-inventory-notice">
                      {{- 'products.labels.only_x_left' | t: quantity: current_variant.inventory_quantity -}}
                    </div>
                  {%- else -%}
                    <div class="product-inventory-notice product-inventory-notice--no-inventory"></div>
                  {%- endif -%}
                {%- else -%}
                  <div class="product-inventory-notice product-inventory-notice--no-inventory"></div>
                {%- endif -%}
              {%- endcapture -%}
            {% endif %}

            {% unless section.settings.show_quantity_selector %}{{ inventory_notice }}{% endunless %}

            <div class="quantity-submit-row input-row {% if section.settings.enable_payment_button and product.selling_plan_groups == empty %}has-spb{% endif %}">
              {% if section.settings.show_quantity_selector %}
                <label for="quantity-{{ section.id }}">
                  {{ 'products.product.quantity' | t }} {{ inventory_notice }}
                </label>
                <div class="quantity-wrapper">
                  <a href="#" data-quantity="down">{% render 'svg-minus' %}</a>
                  <input aria-label="{{ 'products.product.quantity' | t }}" id="quantity-{{ section.id }}" type="text" name="quantity" value="1" />
                  <a href="#" data-quantity="up">{% render 'svg-plus' %}</a>
                </div>
              {% endif %}
              <div class="quantity-submit-row__submit input-row">
                <input class="button button--large" type="submit" value="{{ 'products.product.add_to_cart' | t }}" />
              </div>
              {% if section.settings.enable_payment_button and product.selling_plan_groups == empty %}
                {{ form | payment_button }}
              {% endif %}
            </div>
            {% if section.settings.show_backorder_text == true %}
              {% render 'backorder', product: product, variant: current_variant %}
            {% endif %}

          {% else %}
          	<!-- <div class="product-unavailable">{{ 'products.product.product_unavailable' | t }}</div> -->
        
          <div class="quantity-submit-row__submit input-row">
            <input style="width: 100%;" class="button button--large" type="submit" value="This Product is Currently Sold Out" />
          </div>
          {% endif %}

        {% endform %}
      </div>

    {% else %}
      <h1 class="title in-content">{{ 'onboarding.product.product_title' | t }}</h1>
      <div class="price-container">
        <div>
          <div class="price-area">
            <div class="price h4-style on-sale">
              <span class="current-price">{{ 1999 | money }}</span>
              <span class="was-price">{{ 2999 | money }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="user-content">{{ section.settings.description }}</div>
      <div class="product-form">
        <div class="quantity-submit-row  input-row {% if section.settings.enable_payment_button and product.selling_plan_groups == empty %}has-spb{% endif %}">
          {% if section.settings.show_quantity_selector %}
            <label for="quantity">
              {{ 'products.product.quantity' | t }}
            </label>
            <div class="quantity-wrapper">
              <a href="#" data-quantity="down">{% render 'svg-minus' %}</a>
              <input aria-label="{{ 'products.product.quantity' | t }}" type="text" name="quantity" value="1" />
              <a href="#" data-quantity="up">{% render 'svg-plus' %}</a>
            </div>
          {% endif %}
          <div class="quantity-submit-row__submit input-row">
            <input class="button button--large" type="submit" value="{{ 'products.product.add_to_cart' | t }}" />
          </div>
        </div>
      </div>
    {% endif %}

  </div>
</div>

{% if product != blank %}
<script type="application/json" id="ProductJson-{{ product.id }}">
  {{ product | json }}
</script>
{% endif %}

{% schema %}
  {
    "name": "Featured product",
    "class": "section-featured-product",
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "Product"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description",
        "default": "<p>Pair some text with a product to highlight features.</p>"
      },
      {
        "type": "checkbox",
        "id": "show_tax_and_shipping",
        "label": "Show tax status and shipping policy link",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show vendor",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_sku",
        "label": "Show SKU",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_quantity_selector",
        "label": "Show quantity selector",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_payment_button",
        "label": "Show dynamic checkout button",
        "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_backorder_text",
        "label": "Show backorder text",
        "default": true,
        "info": "Only shows for products which use Shopify inventory tracking and are available to purchase when out of stock."
      },
      {
        "type": "checkbox",
        "id": "show_inventory_notice",
        "label": "Show inventory notice",
        "default": false
      },
      {
        "type": "range",
        "id": "inventory_notice_threshold",
        "min": 0,
        "max": 100,
        "step": 1,
        "label": "Inventory threshold",
        "info": "Show inventory quantities below this threshold. Choose 0 to show full amount.",
        "default": 10
      },
      {
        "type": "header",
        "content": "Media"
      },
      {
        "type": "paragraph",
        "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
      },
      {
        "type": "radio",
        "id": "prod_gall_thumbs_under",
        "label": "Thumbnail position",
        "info": "On desktop screens",
        "options": [
          {
            "value": "beside",
            "label": "Beside main image"
          },
          {
            "value": "under",
            "label": "Underneath main image"
          }
        ],
        "default": "under"
      },
      {
        "type": "checkbox",
        "id": "enable_zoom",
        "label": "Enable image zoom",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_video_looping",
        "label": "Enable video looping",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Featured product",
        "category": "Product",
        "settings": {
        }
      }
    ]
  }
{% endschema %}
