{%- style -%}
  html.template-password body {
    color: {{ section.settings.text_color }};

    {% if section.settings.background_image != blank %}
    background-image: url({{ section.settings.background_image | img_url: 'master'}});
    background-position: center center;
    background-size: cover;
    {% endif %}
  }

  .logo img {
    width: {{ section.settings.logo_img_width_int | escape }}px;
  }
{%- endstyle -%}

<div class="password-container">

{% comment %}
  <div class="password-store-name">
    <div class="password-store-name-inner">

      <div class="password-login-link desktop-only">
        <a href="#password-login">
          <svg xmlns="http://www.w3.org/2000/svg" class="lock-icon-svg" viewBox="0 0 17 20" version="1.1" aria-hidden="true">
            <title>Lock icon</title>
            <path fill="currentColor" d="M15.725,8.3333333 L15.3,8.3333333 L15.3,6.875 C15.3,3.02 12.3131,0 8.5,0 C4.6869,0 1.7,3.02 1.7,6.875 L1.7,8.3333333 L1.275,8.3333333 C0.5712,8.3333333 0,8.8933333 0,9.5833333 L0,18.75 C0,19.44 0.5712,20 1.275,20 L15.725,20 C16.4288,20 17,19.44 17,18.75 L17,9.5833333 C17,8.8933333 16.4288,8.3333333 15.725,8.3333333 L15.725,8.3333333 L15.725,8.3333333 Z M4.25,6.875 C4.25,4.3808333 6.07665,2.5 8.5,2.5 C10.92335,2.5 12.75,4.3808333 12.75,6.875 L12.75,8.3333333 L4.25,8.3333333 L4.25,6.875 L4.25,6.875 Z M10.2,15.0166667 C10.2,15.9275 9.44605,16.6666667 8.517,16.6666667 L8.483,16.6666667 C7.55395,16.6666667 6.8,15.9275 6.8,15.0166667 L6.8,13.3166667 C6.8,12.4058333 7.55395,11.6666667 8.483,11.6666667 L8.517,11.6666667 C9.44605,11.6666667 10.2,12.4058333 10.2,13.3166667 L10.2,15.0166667 L10.2,15.0166667 Z"/>
          </svg>
          <span class="password-login-link-label">{{ 'storefront_password.login.link' | t }}</span>
        </a>
      </div>

      <div id="shoplogo" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="url" content="{{ shop.url }}">
        <meta itemprop="name" content="{{ shop.name }}">
        {% if section.settings.logo != blank %}
          <h1 class="logo">
            {% capture img_size %}{{ section.settings.logo_img_width_int | times: 2 }}x{% endcapture %}
            <img src="{{ section.settings.logo | img_url: img_size }}" alt="{{ section.settings.logo.alt | escape }}" itemprop="logo" />
          </h1>
        {% else %}
          <h1>{{ shop.name }}</h1>
        {% endif %}
      </div>

    </div>
  </div>
      {% endcomment %}
  
  <div class="password-main">
    <div class="password-main-inner" style="padding-top: 0 !important;">
      <h2>{{ section.settings.page_title | escape }}</h2>
      
      <div class="jeans-container">
        <div id="countdown">
          <ul>
            <!-- <li><span id="days"></span>days</li> -->
            <li><span id="hours"></span>Hours</li>
            <li><span id="minutes"></span>Minutes</li>
            <li><span id="seconds"></span>Seconds</li>
          </ul>
        </div>
        <div class="message">
          <div id="content">
            <span class="emoji">🥳</span>
            <span class="emoji">🎉</span>
            <span class="emoji">🎂</span>
          </div>
        </div>
      </div>

      <div class="password-message"><div class="password-login-link"><a href="#password-login">
          <span class="password-login-link-label">ENTER PASSWORD</span>
        </a></div>{% comment %}{{ shop.password_message }}{% endcomment %}</div>
      
      {% comment %}
      <div>
        <video id="videoBG" poster="{{ 'unsound-jeans-still.png' | asset_url }}" playsinline autoplay muted loop>
      		<source src="{{ 'unsound-jeans.mp4' | asset_url }}" type="video/mp4">
  		</video>
      </div>
      {% endcomment %}

      {% if section.settings.show_newsletter_signup %}
      <div class="password-signup">
        <div class="password-signup-inner">
        {% form 'customer' %}
          <h5>{{ section.settings.newsletter_title | escape }}</h5>
          <div class="user-content">{{ section.settings.newsletter_text }}</div>

          {% if form.posted_successfully? %}
            <p class="thanks">{{ 'storefront_password.signup.success' | t }}</p>
          {% else %}
            {% if form.errors %}
              {% for field in form.errors %}
              <p class="error">{{ field | capitalize }} - {{ form.errors.messages[field] }}</p>
              {% endfor %}
            {% endif %}
            <div class="">
              <input type="hidden" name="contact[tags]" value="prospect, password page"/>
              <input type="email" class="required" aria-label="{{ 'layout.signup.label' | t | escape }}" placeholder="{{ section.settings.newsletter_placeholder | escape }}" value="" name="contact[email]" /><input type="submit" value="{{ section.settings.newsletter_button | escape }}" />
            </div>
          {% endif %}
        {% endform %}
        </div>
      </div>
      {% endif %}

      {% if section.settings.show_sharing %}
      <div class="password-social">
        <div>{{ section.settings.social_heading | escape }}</div>
        <ul>
          <li>
            <a class="password-social-item-facebook" target="_blank" href="//www.facebook.com/sharer.php?u={{ shop.url }}">
              {% render 'svg-facebook' %} <span>Share</span>
            </a>
          </li>
          <li>
            <a class="password-social-item-twitter" target="_blank" href="//twitter.com/share?url={{ shop.url }}&amp;text={{ shop.name | escape }}">
              {% render 'svg-twitter' %} <span>Tweet</span>
            </a>
          </li>
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
{% comment %}
  <div class="password-login-link mobile-only">
    <a href="#password-login">
      <svg xmlns="http://www.w3.org/2000/svg" class="lock-icon-svg" viewBox="0 0 17 20" version="1.1" aria-hidden="true">
        <title>Lock icon</title>
        <path fill="currentColor" d="M15.725,8.3333333 L15.3,8.3333333 L15.3,6.875 C15.3,3.02 12.3131,0 8.5,0 C4.6869,0 1.7,3.02 1.7,6.875 L1.7,8.3333333 L1.275,8.3333333 C0.5712,8.3333333 0,8.8933333 0,9.5833333 L0,18.75 C0,19.44 0.5712,20 1.275,20 L15.725,20 C16.4288,20 17,19.44 17,18.75 L17,9.5833333 C17,8.8933333 16.4288,8.3333333 15.725,8.3333333 L15.725,8.3333333 L15.725,8.3333333 Z M4.25,6.875 C4.25,4.3808333 6.07665,2.5 8.5,2.5 C10.92335,2.5 12.75,4.3808333 12.75,6.875 L12.75,8.3333333 L4.25,8.3333333 L4.25,6.875 L4.25,6.875 Z M10.2,15.0166667 C10.2,15.9275 9.44605,16.6666667 8.517,16.6666667 L8.483,16.6666667 C7.55395,16.6666667 6.8,15.9275 6.8,15.0166667 L6.8,13.3166667 C6.8,12.4058333 7.55395,11.6666667 8.483,11.6666667 L8.517,11.6666667 C9.44605,11.6666667 10.2,12.4058333 10.2,13.3166667 L10.2,15.0166667 L10.2,15.0166667 Z"/>
      </svg>
      <span class="password-login-link-label">{{ 'storefront_password.login.link' | t }}</span>
    </a>
  </div>

  
  <div class="password-footer">
    <div class="password-footer-inner">
      <span>UNSOUND JEANS LIVE SATURDAY<br />MARCH 20TH @ 10:00 AM PST</span>
    </div>
  </div>
  
{% endcomment %}
</div>

<div id="password-login-container">
  <div id="password-login">
    {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <label for="password">{{ 'storefront_password.login.label' | t }}</label>
      <div class="password-login__input-row">
        <input type="password" name="password" id="password" />
        <button class="btn password-login__button" name="commit" type="submit">{{ 'storefront_password.login.button' | t }}</button>
      </div>
    {% endform %}
    {% comment %}
    <div class="password-owner">
      {{ 'storefront_password.login.admin_link_html' | t }}
    </div>
    {% endcomment %}
  </div>
</div>


{% schema %}
  {
    "name": "Password page",
    "settings": [
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default": "#8a8f93"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo",
        "info": "520 x 200px (recommended)"
      },
      {
        "type": "range",
        "id": "logo_img_width_int",
        "min": 30,
        "max": 500,
        "step": 5,
        "unit": "px",
        "label": "Logo width",
        "default": 180
      },
      {
        "type": "header",
        "content": "Heading"
      },
      {
        "type": "text",
        "id": "page_title",
        "label": "Heading",
        "default": "Opening Soon"
      },
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "checkbox",
        "id": "show_newsletter_signup",
        "label": "Show",
        "default": true
      },
      {
        "type": "text",
        "id": "newsletter_title",
        "label": "Heading",
        "default": "Find out when we open"
      },
	    {
        "type": "richtext",
        "id": "newsletter_text",
        "label": "Subheading"
      },
      {
        "type": "text",
        "id": "newsletter_placeholder",
        "label": "Placeholder text",
        "default": "Your email"
      },
      {
        "type": "text",
        "id": "newsletter_button",
        "label": "Button text",
        "default": "Submit"
      },
      {
        "type": "paragraph",
        "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
      },
      {
        "type": "header",
        "content": "Social sharing"
      },
      {
        "type": "checkbox",
        "id": "show_sharing",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "text",
        "id": "social_heading",
        "label": "Heading",
        "default": "Spread the word:"
      }
    ]
  }
{% endschema %}
