<div class="{% unless section.settings.full_width %}article{% endunless %} {% if section.settings.use_alt_bg %}use-alt-bg fully-padded-row--{{ section.settings.height }}{% else %}fully-spaced-row--{{ section.settings.height }}{% endif %}">
  <div class="container">
    <div class="align-{{ section.settings.text_alignment }}">
      {%- if section.settings.subheading != blank -%}
        <div class="subheading subheading--over">{{ section.settings.subheading | escape }}</div>
      {%- endif -%}

      {%- if section.settings.title != blank -%}
        <h1 class="majortitle in-content">{{ section.settings.title | escape }}</h1>
      {%- endif -%}

      <div class="user-content {% if section.settings.enlarge_text %}large-text{% endif %}">{{ section.settings.text }}</div>

      {%- if section.settings.button_label != blank -%}
        <div class="lightly-spaced-row-above">
          <a class="{% if section.settings.button_style != 'link' %}btn btn--{{ section.settings.button_style }}{% else %}small-feature-link{% endif %}" href="{{ section.settings.button_link }}">{{ section.settings.button_label | escape }}</a>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Rich text",
    "class": "section-rich-text",
    "settings": [
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Rich text"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Use this text to share information about your store with your customers. Describe products, share announcements, or welcome customers to your store.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "default": "primary",
        "options": [
          {
            "label": "Button - primary",
            "value": "primary"
          },
          {
            "label": "Button - secondary",
            "value": "secondary"
          },
          {
            "label": "Link",
            "value": "link"
          }
        ]
      },
      {
        "type": "select",
        "id": "height",
        "label": "Section height",
        "default": "medium",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "enlarge_text",
        "label": "Enlarge text",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Wide display",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "use_alt_bg",
        "label": "Use alternate section color",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Rich text",
        "category": "Text",
        "settings": {}
      }
    ]
  }
{% endschema %}
