{% layout none %}<!DOCTYPE html>
<html class="template-password" lang="{{ shop.locale }}">
<head>
  {% render 'head-tag' %}
  <link rel="preload" href="{{ 'styles.css' | asset_url }}" as="style">
  <title>{{ shop.name | escape }}</title>
  {{ 'styles.css' | asset_url | stylesheet_tag }}
  <script>
    window.theme = window.theme || {};
    theme.strings = {
      previous: {{ 'general.accessibility_labels.previous' | t | json }},
      next: {{ 'general.accessibility_labels.next' | t | json }}
    };
  </script>
  {{ content_for_header }}
</head>
<body>

  {% section 'password-template' %}

  {{ 'vendor.js' | asset_url | script_tag }}
  <script>
    $(document).on('initPasswordLogin shopify:section:load', function(){
      $('#password-login-container').hide();
      var $link = $('.password-login-link a').fancybox({
        margin: 0,
        padding: 1,
        overlayColor: '#fff',
        overlayOpacity: 0.9
      });
      if($('#password-login .errors').length) {
        $link.click();
      }
    }).trigger('initPasswordLogin');
    
    
(function () {
  const second = 1000,
        minute = second * 60,
        hour = minute * 60,
        day = hour * 24;

  let birthday = "April 26, 2022 11:00:00",
      countDown = new Date(birthday).getTime(),
      x = setInterval(function() {    

        let now = new Date().getTime(),
            distance = countDown - now;

        /*document.getElementById("days").innerText = Math.floor(distance / (day)),*/
          document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
          document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)),
          document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);

        //do something later when date is reached
        if (distance < 0) {
          let headline = document.getElementById("headline"),
              countdown = document.getElementById("countdown"),
              content = document.getElementById("content");

          headline.innerText = "Unsound Jeans out now.";
          countdown.style.display = "none";
          content.style.display = "block";

          clearInterval(x);
        }
        //seconds
      }, 0)
  }());
  </script>
</body>
</html>
